# Python
__pycache__/
*.pyc

# virtual environment
.venv/
backend/.venv/

# backend cache
backend/__pycache__/

# env
.env
.env.local

# generated audio / results
backend/data/uploads/
backend/data/results/
backend/data/plots/

# mac
.DS_Store